<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
   <servlet>
        <servlet-name>encrypt</servlet-name>
        <servlet-class>action.encrypt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>encrypt1</servlet-name>
        <servlet-class>action.encrypt1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>action.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>download</servlet-name>
        <servlet-class>action.download</servlet-class>
    </servlet>    
     <servlet>
        <servlet-name>download1</servlet-name>
        <servlet-class>action.download1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>download3</servlet-name>
        <servlet-class>action.download3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>download1</servlet-name>
        <url-pattern>/download1</url-pattern>
    </servlet-mapping>   
    <servlet-mapping>
        <servlet-name>download3</servlet-name>
        <url-pattern>/download3</url-pattern>
    </servlet-mapping>   
    <servlet-mapping>
        <servlet-name>encrypt</servlet-name>
        <url-pattern>/encrypt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>encrypt1</servlet-name>
        <url-pattern>/encrypt1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
